
.navbar-position{
    grid-area: navbar;
}

.login-position{
    grid-area: body;
    background: #ffe57b;
}

.footer-position{
  grid-area: footer;
}

.page-content{
  display: grid;
  height: 100%;
  grid-template-areas: 
  "navbar"
  "body" 
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 8% auto 10%;
}